* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: border-box;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #5B5B5B;
}

#main {
    background-color: white;
}

/* ------------- Nav bar ------------------ */
nav {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 0 13vw;
    position: relative;
}

.logo img {
    width: 20rem;
}

.right-nav-cont,
.right-nav-cont ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
    font-size: 13px;
    font-weight: 500;
}

.right-nav-cont {
    width: 550px;
    height: 30px;
    display: flex;
}

.right-nav-cont ul {
    width: 85%;
}

/* ----------hidden menu content---------- */

.menu-content {
    width: 30%;
    height: 80vh;
    background-color: #ffffff9b;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    right: -60%;
    top: 5px;
    padding: 0rem 5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 77;
}

.menu-content li a,
.menu-content li .dropdown {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    line-height: 4rem;
    padding-top: 20px;
}

.menu-content .dropdown .dropdown-content1 {
    top: 50%;
    height: fit-content;
}

.menu-content .dropdown .dropdown-content2 {
    top: 60%;
    height: fit-content;

}

.menu-content li {
    list-style: none;
}

.menu-cross {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3b3939b7;
    cursor: pointer;
}

.menu-content h3 {
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    border-radius: 50%;
}

/* -------------------- */

.search-icn {
    font-size: 20px;
    padding-bottom: 3px;
    font-weight: 700;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: black;
}

.dropdown .dropdown-content1,
.dropdown .dropdown-content2 {
    flex-direction: column;
    width: 260px;
    height: 120px;
    position: absolute;
    background-color: #ffffff;
    border: 2px solid #eae8e8c0;
}

.dropdown .dropdown-content1,
.dropdown .dropdown-content2 {
    background-color: #ffffff;
    z-index: 33;
    top: 80%;
    align-items: center;
    justify-content: center;
    display: none;
    transition: all ease 0.1s;
}

.dropdown:hover .dropdown-content1 {
    display: block;
}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown .dropdown-content1 li,
.dropdown .dropdown-content2 li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 0.95rem;
}

.dropdown-content1 li a,
.dropdown-content2 li a {
    color: rgb(107, 107, 107);
    font-weight: 500;
}

.gray-line {
    width: 90%;
    height: 1.5px;
    background-color: #eae8e8c0;
}

.dropdown .dropdown-content2 {
    width: 260px;
    height: 120px;
    background-color: #ffffff;
    z-index: 33;
}

.menu-icon {
    display: none;
}

/* -----------------hero section --------------- */

section .hero {
    min-height: 550px;
    width: 100%;
    background-image: url(https://xtremeads.in/wp-content/uploads/2023/08/Social-media-management-services-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-content {
    width: 100%;
    min-height: 550px;
    padding: 0 13vw;
    display: flex;
    align-items: center;
}

.hero-container {
    display: flex;
    align-items: center;
    min-height: 550px;
}

.hero-content .left {
    background-color: black;
    color: white;
    opacity: 0.8;
}

.dim-light {
    position: absolute;
    width: 100%;
    min-height: 550px;
    background-color: black;
    opacity: 0.5;
}

.left {
    width: 37%;
    min-height: 430px;
    padding: 0 20px;
    position: absolute;
}

.left .box {
    width: 100%;
    min-height: 100%;
    padding-top: 15px;
}

.left .box h1 {
    font-weight: 300;
    font-size: 24px;
    margin: 12.24px 0;
    color: #ffffff;
    font-family: "Montserrat";
}

.left .box p {
    font-weight: 200;
    margin: 18.72px 0;
}

.left .box ul {
    padding-left: 40px;
    margin: 12.24px 0;
}

.left .box ul li {
    margin: 0px 0px 11px 18.72px;
}

.left .box .btn,
.social-media-post-design .container .content .buttons .btn {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 14px 14px 0px;
}

.left .box .btn1,
.social-media-post-design .container .content .buttons .btn1 {
    background-color: #f0a500;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.left .box .btn2,
.social-media-post-design .container .content .buttons .btn2 {
    background-color: #25d366;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.left .box .btn1:hover,
.left .box .btn2:hover,
.social-media-post-design .container .content .buttons .btn1:hover,
.social-media-post-design .container .content .buttons .btn2:hover {
    opacity: 0.7;
    transition: all ease 0.4s;
}

/* ------------hero section right -------------- */

.right {
    position: absolute;
    right: 12%;
    top: 17%;
    width: 33%;
    height: 55vh;
    background-color: transparent;
}

/* -------------feature section ------------------ */

.features-section {
    display: flex;
    justify-content: space-around;
    padding: 30px 13vw;
}

.feature-box {
    width: 27%;
    text-align: center;
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

.feature-box img {
    width: 60px;
    margin-bottom: 20px;
}

.feature-box h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 15px;
}

.feature-box p {
    font-size: 1em;
    color: #777;
    line-height: 1.7;
}

.feature-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
}

.gray-vrtcl-ln {
    width: 1px;
    height: 300px;
    background-color: #ddddddb7;
}

/* ------------------social media post design --------------------- */

.social-media-post-design {
    background-color: #f4f4f4;
    padding: 50px 0;
    padding-bottom: 100px;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 13vw;
}

.content {
    flex: 1 1 50%;
    width: 40%;
}

.content h2 {
    font-size: 24px;
    color: #555555;
    font-weight: 500;
}

.content p {
    font-size: 16px;
    color: #777777;
    margin-bottom: 20px;
}

.content ul {
    padding: 0 70px;
}

.content ul li {
    font-size: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.video {
    flex: 1 1 40%;
    padding-left: 50px;
}

.video iframe {
    width: 100%;
    height: 100%;
}

/* ------------------ pricing section --------------------- */
.container2 {
    padding: 0 10vw;
}

.pricing-section {
    background-color: #333;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.pricing-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.pricing-section p {
    font-size: 16px;
    color: #bbb;
}

.container2 .pricing-plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #333;
}

.plan {
    background-color: #5b5a5a;
    padding: 10px;
    width: 22%;
}

.plan h3 {
    font-size: 15px;
    margin: 10px -10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #777;
}

.plan h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #f0a500;
}

.plan ul {
    padding: 0 20px;
    text-align: left;
    color: #bbb;
}

.plan ul li {
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    flex: 1 1 40%;
    justify-content: space-between;
}

.contact-btn,
.whatsapp-btn {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

.contact-btn {
    background-color: #f0a500;
}

.contact-btn:hover {
    opacity: 0.6;
}

.whatsapp-btn {
    background-color: #25d366;
}

.whatsapp-btn:hover {
    opacity: 0.6;
}

.pricing-section .container2 .pricing-plans .plan .buttons a button {
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

/* -------------------Styling for SMO Plans Section-------------------- */

.smo-plans {
    padding: 50px 13vw;
    text-align: left;
}

.smo-plans h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

.smo-plans p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #000000a5;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.plans-container .plan2:hover {
    box-shadow: 0px 12px 15px #a4a4a4;
    transition: all ease 0.5s;
}

.plan2 {
    background-color: white;
    padding-right: 0px;
    width: 30%;
    border: 2px solid #f2f2f2;

}

.plan2 h3 {
    font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #777777;
    border-bottom: 2px solid #dadada;
    background-color: #f2f2f2;
}

.plan2 h4 {
    font-size: 28px;
    color: #000;
    margin-bottom: 20px;
    font-weight: 400;
}

.plan2 ul li {
    font-size: 12px;
    color: #777777;
}

.plan2 ul {
    padding-left: 80px;
    padding-right: 10px;
    margin-bottom: 20px;
    margin: 10px 25px;
    border-bottom: 2px solid #f2f2f2;
}

.smo-plans .plans-container .plan2 ul li {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.smo-plans .plans-container .plan2 .buttons a {
    margin: 10px;
    font-size: 16px;
}

/* ---------------------- Case Study ---------------------------- */
.case-study {
    padding: 100px 13vw;
    background-color: #f9f9f9;
}

.case-study h2 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 30vw;
    color: #555555;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion {
    width: 40%;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    padding: 10px;
    border: none;
    border-top: 2px solid #ddd;
    cursor: pointer;
    text-align: left;
    font-size: 1.2em;
    width: 100%;
}

.accordion-item button {
    display: flex;
    align-items: center;
    color: #777777;
    font-size: 16px;
    background-color: #f9f9f9;
}

.accordion-item button:hover {
    color: black;
}

.accordion-item button i {
    display: inline-block;
    color: #777777;
    font-size: 30px;
    height: 100%;
}

.accordion-item button i:hover {
    color: #000;
}

.accordion-content {
    display: none;
    padding: 15px;
    border-top: none;
    transition: all ease 1s;
    transition-duration: 5s;
}

.accordion-content ul {
    padding-left: 50px;
}

.accordion-content ul li {
    margin: 10px;
    color: #777777;
    font-size: 14px;
    border: none;
}

.accordion-content h4 {
    margin-top: 23px;
    color: #555555;
    font-weight: 400;
    text-transform: uppercase;
}

.accordion-content h5 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #747373;
    text-transform: uppercase;
}

.accordion-item .accordion-content p {
    color: #777777;
}

.accordion-item .accordion-content h3 {
    font-weight: 400;
    font-size: 23px;
    color: #555555;
    text-transform: uppercase;
}

.flex-container .accordion .learn-more {
    background-color: #5A4316;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
}

.flex-container .accordion .learn-more:hover {
    background-color: #403010;
}

.right-of-accordion {
    width: 50%;
    overflow: hidden;
}

.right-of-accordion img {
    width: 95%;
    margin-bottom: 50px;
    transition: all ease 0.8s;
}

.right-of-accordion img:hover {
    scale: 1.1;
    width: 95%;
    transform: scale(1.1);
}

.right-of-accordion p {
    font-size: 20px;
    opacity: 0.6;
    line-height: 1.5;
    padding: 0 50px;
    margin: 0 10px;
    border-left: 2px solid black;
}

/* -----------meet your buisness need/ pricing-plans style------------------- */

.pricing-plans {
    background-color: #e8e8e8;
    padding: 50px 20px;
    text-align: center;
}

.container3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13vw;
    flex-wrap: wrap;
}

.pricing-plans h2 {
    font-size: 25px;
    color: #5b5b5b;
    font-weight: 100;
    margin-bottom: 20px;
}

.pricing-plans p {
    font-size: 15px;
    color: #5b5b5b;
    opacity: 0.7;
}

.quote-button {
    background-color: #c9963e;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.quote-button:hover {
    background-color: #b88431;
}

.container3 .content-price-plan {
    width: 40%;
}

.container3 .quote-button {
    height: fit-content;
    width: 45%;
}

/* --------------------Social Media Styling-------------------------- */

section.social-media-marketing {
    padding: 40px 13vw;
    height: fit-content;
}

.ln {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 55px;
}

.horizntl-gray-ln {
    width: 15vw;
    height: 2px;
    background-color: #ddd;
    margin: 0 15px;
}

.ln h2 {
    font-size: 20px;
    color: #666;
    font-weight: 500;
    text-transform: uppercase;
}

.platforms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.social-media-marketing .platform {
    background-color: white;
    padding: 20px 10px;
    margin-top: 50px;
}

.platform img {
    max-width: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.social-media-marketing .platforms h3 {
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 15px;
    color: #3366FF;
    padding: 0 10px;
    text-transform: uppercase;
}

.platforms .platform .fcbk {
    color: #3366FF;
}

.platforms .platform .insta {
    color: #800080;
}

.linkdin {
    color: #00AAE7;
}

.twitter {
    color: #00FFFF;
}

.social-media-marketing .platforms ul {
    padding-bottom: 20px;
    text-align: left;
    width: fit-content;
    padding: 10px 45px;
}

.social-media-marketing .platforms ul li {
    margin-bottom: 15px;
    color: #666;
    font-size: 16px;
}

.platforms .bodr_pltfrm {
    border-right: 1px solid #dddddd9f;
}

.chat-btn {
    width: 90%;
    margin-right: 50px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    color: #666666;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #ddd;
}

.chat-btn:hover {
    background-color: #77777785;
}

/* --------------why choose us section---------- */

section.why-choose-us {
    background-color: #222;
    color: #ffffff;
    padding: 40px 13vw;
    text-align: center;
}

.why-choose-us h2 {
    font-size: 22px;
    color: #f2f2f2;
    font-weight: 400;
    text-transform: uppercase;
}

.why-choose-us .ln .horizntl-gray-ln {
    background-color: #4e4e4e;
    height: 2px;
    width: 12vw;
}

.why-choose-us .reasons {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.why-choose-us .reasons .reason-column {
    display: flex;
}

.why-choose-us .reasons .reason-column ul {
    list-style: none;
    margin: 17px 0;
}

.why-choose-us .reasons .reason-column li {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    opacity: 0.8;
    text-transform: uppercase;
}

.why-choose-us .reasons .reason-column li img {
    width: 32px;
    height: 33px;
    margin-right: 10px;
}

/* -----------worked with----------- */

.clients-section {
    text-align: center;
    padding: 10px 10vw;
}

.doubt-quest {
    text-align: center;
    padding: 10px 13vw;
}

.ques {
    text-align: left;
    padding-bottom: 50px;
}

.clients-section .gray-border-bottom {
    width: 100%;
    height: 1px;
    background-color: #80808020;
    position: absolute;
    left: 0;
    margin: 20px 0;
}

.freq-asked-ques {
    font-size: 25px;
    font-weight: 300;
    color: #d4a106;
    margin: 20px 0 15px;
}

.ques i {
    margin-right: 10px;
    color: #595959bd;
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.ques-ans h4 {
    font-size: 20px;
    font-weight: 300;
    padding: 15px 0;
    border-top: 1px solid #c2c2c2;
    display: flex;
    align-items: center;
    color: #636363;
    cursor: pointer;
}

.ques-ans h4:hover {
    color: #000;
}

.ques-ans p {
    font-weight: 300;
    display: none;
    transition: all ease 1s;
    padding: 20px 15px;
}

.rotate {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

.doubt-quest .ques .buttons {
    width: 25vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* -------------moving-logo of who we work with---------- */

.moving-div {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 30px 13vw;
}

.move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.clients-section-imgs {
    height: 85px;
    margin: 30px 0;
    padding: 0 20px;
}

@keyframes mobe {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.moving-div .blur-left {
    height: 150px;
    width: 20%;
    position: absolute;
    background: white;
    filter: blur(15px);
    left: 0;
    z-index: 1;
}

.moving-div .blur-right {
    height: 150px;
    width: 20%;
    position: absolute;
    background: white;
    filter: blur(15px);
    right: 0;
    z-index: 1;
}

/* ---------------How We Work Section -------------------*/
.clients-section .how-we-work {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.how-we-work p {
    color: #8D8E8D;
    font-size: 17px;
    margin: 20px 0;
}

.how-we-work a {
    color: #d4a106;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none;
}

.how-we-work .how-we-work-p {
    font-size: 25px;
    font-weight: 200;
    margin: 20px;
}

.how-we-work a:hover {
    color: #000;
}

/* ------------footer------------ */

footer {
    color: #fff;
}

.footer-content .footer-section .half-gray {
    width: 30px;
    height: 3px;
    background-color: #555555;
    margin: 10px 0 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 45px 13vw;
    background-color: #000;
}

.footer-section {
    width: 21.4%;
}

.footer-section h3 {
    font-size: 16px;
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    margin-left: 30px;
    padding: 10px 0;
    border-bottom: 1px solid #33333369;
}

.footer-section ul .no-border {
    border: none;
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 10px;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
}

.footer-content .footer-section p {
    font-size: 17px;
}

/* ------------footer bottom-------------- */

footer .footer-bottom {
    background-color: #5B5B5B;
    padding: 20px 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-height: 50px;
}

footer .footer-bottom .social-links .flex-cont {
    display: flex;
    flex-shrink: 0;
}

footer .footer-bottom .social-links {
    display: flex;
    color: #ffffff80;
    text-decoration: none;
}

footer .footer-bottom .copy-llp a,
footer .footer-bottom .social-links a {
    text-decoration: none;
    color: #ffffff80;
    padding: 0 5px;
}

footer .footer-bottom .copy-llp {
    display: flex;
    text-decoration: none;
    color: #ffffff80;
}

footer .footer-bottom .copy-llp span {
    color: #ffffff80;
    font-weight: 700;
    flex-shrink: 0;
}

/*----------------------------------- MEDIA QUERIES FOR RESPONSIVENESS-------------------------------- */

@media (max-width:1229px) {
    .buttons {
        flex-direction: column;
    }

    footer .footer-bottom {
        flex-direction: column;

    }

    .clients-section .ques .buttons {
        width: 32vw;
        flex-direction: row;
    }
}

@media (max-width: 1200px) {
    nav {
        padding: 0 20px;
    }

    .hero-content {
        padding: 0 20px;
    }

    .left {
        width: 45%;
    }

    .right {
        right: 10%;
        width: 40%;
    }

    .features-section {
        padding: 30px 20px;
    }

    .container2 {
        padding: 0 20px;
    }

    .pricing-plans {
        padding: 0 20px;
    }

    .container {
        padding: 0 20px;
    }

    .platforms {
        grid-template-columns: repeat(2, 1fr);
    }

    /*-------------- for social media section ---------------- */

    .platforms .insta_bodr {
        border-right: none;
    }

    .smo-plans {
        padding: 50px 20px;
    }

    .case-study {
        padding: 100px 20px;
    }

    section.why-choose-us {
        padding: 40px 20px;
    }

    .footer-content {
        padding: 45px 20px;
    }

    footer .footer-bottom {
        padding: 20px;
    }

    .moving-div {
        padding: 30px 20px;
    }

    .moving-div .blur-left {
        width: 15%;
    }

    .moving-div .blur-right {
        width: 15%;
    }

    .clients-section {
        padding: 10px 20px;
    }

    .doubt-quest {
        padding: 10px 20px;
    }

    .doubt-quest .ques .buttons {
        width: 40vw;
    }
}

@media (max-width: 992px) {
    .left {
        width: 55%;
    }

    .right {
        right: 5%;
        width: 45%;
    }

    /* ------------for smm section---------- */
    .plans-container {
        flex-direction: column;
        align-items: center;
    }

    .plan2 {
        width: 90%;
        margin: 20px 0;
    }

    .clients-section .ques .buttons {
        width: 42vw;
        flex-direction: row;
    }
}

@media (max-width:850px) {
    body{
        overflow-x: hidden;
    }
    nav .right-nav-cont {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-content {
        display: flex;
    }

    .flex-container {
        flex-direction: column;
    }

    .accordion {
        width: 90%;
    }

    .right-of-accordion {
        width: 90%;
    }

    .doubt-quest .ques .buttons {
        width: 60vw;
    }

    footer .footer-content {
        padding: 30px 5vw;
        flex-direction: column;
    }

    footer .footer-content .footer-section {
        width: 100%;
    }

}

@media (max-width: 768px) {
    section .hero {
        min-height: 650px;

    }

    .hero-content {
        min-height: 650px;
    }

    .hero-container {
        display: flex;
        align-items: center;
        min-height: 650px;
    }

    .dim-light {
        min-height: 650px;
    }

    .left {
        width: 67%;
        min-height: 430px;
    }

    .clients-section .ques .buttons {
        width: 52vw;
        flex-direction: row;
    }

    /* ------------------------------------- */

    /*---------- Responsive design for feature section -------------*/
    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        width: 80%;
        margin-bottom: 30px;
    }

    /* -------------------------------------- */

    .gray-vrtcl-ln {
        display: none;
    }

    /* -----------for social media post design ------------- */

    .container {
        flex-direction: column;
    }

    .content,
    .video {
        flex: 1 1 100%;
        padding: 10px;
    }

    .content {
        width: 100%;
    }

    .video iframe {
        height: 50vh;
        width: 100%;
    }

    /* ------------------for pricing section --------------------- */
    .container2 {
        padding: 0 13vw;
    }

    .plan {
        width: 100%;
        margin-bottom: 20px;
    }

    .pricing-plans {
        padding: 30px 10px;
    }

    .pricing-plans h2 {
        font-size: 1.8rem;
    }

    .pricing-plans p {
        font-size: 1rem;
    }

    .quote-button {
        padding: 12px 25px;
        font-size: 1rem;
    }

    .quote-button {
        padding: 10px 20px;
        font-size: 0.9rem;

    }

    .container3 {
        padding: 0 5vw;
        flex-wrap: wrap;
    }

    /* ----------social media--------- */

    .social-media-marketing .platforms ul {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-bottom: 20px;
        padding-right: 0;
        width: fit-content;
    }

    section.social-media-marketing {
        text-align: center;
    }

    section.social-media-marketing {
        padding: 40px 5vw;
        height: fit-content;
    }

    .why-choose-us .reasons {
        flex-wrap: wrap;
    }

    .why-choose-us .reasons {
        justify-content: flex-start;
    }

    /*---------------- Responsive Design---------------- */
    .logo-slider img {
        max-width: 100px;
    }

    .how-we-work p {
        font-size: 16px;
    }

}

@media (max-width:660px) {
    footer .footer-bottom {
        padding: 20px 3vw;
    }

    footer .footer-bottom .copy-llp a,
    footer .footer-bottom .social-links a {
        padding: 0 3px;
        display: inline-block;

    }

    footer .footer-bottom .copy-llp {
        display: inline-block;

    }

    footer .footer-bottom .copy-llp span {
        display: inline-block;
    }

    .clients-section .ques .buttons {
        width: 70vw;
        flex-direction: row;
    }
}

@media (max-width: 576px) {
    .logo img {
        width: 15rem;
    }

    .left {
        width: 80%;
    }

    .right-of-accordion img {
        width: 120%;
        margin: 50px 0;
    }

    .right-of-accordion p {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
    }

    .container3 .content-price-plan {
        width: 90%;
        margin-bottom: 50px;
    }

    /* ------social media------- */

    .social-media-marketing .ln h2 {
        margin: 10px 0;
    }

    .social-media-marketing .ln,
    .why-choose-us .ln {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .social-media-marketing .ln .horizntl-gray-ln,
    .why-choose-us .ln .horizntl-gray-ln {
        width: 100%;
    }

    .why-choose-us .ln .horizntl-gray-ln {
        margin: 10px 0;
    }

    .platforms {
        grid-template-columns: 1fr;
    }

    .platforms .bodr_pltfrm {
        border-right: none;
    }

    /*---------------- responsiveness of logo slider--------- */

    .clients-section-imgs {
        height: 8vw;
        margin: 0 2vw;
    }

    .moving-div {
        width: 80%;
        margin-left: 5%;
    }

    .ques-ans h4 {
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .doubt-quest .ques .buttons {
        width: 80vw;
    }

}

/* --------------------who we work with responsive--------------- */

@media (max-width: 482px) {
    .hero-content {
        padding: 0 10px;
    }

    .logo-slider img {
        max-width: 80px;
    }

    .how-we-work p {
        font-size: 14px;
    }

    footer .footer-bottom .social-links {
        display: block;
        align-content: center;
    }

    .clients-section .ques .buttons {
        width: 90%;
        flex-direction: column;
        justify-content: center;
    }

    .clients-section .ques .buttons a {
        display: flex;
        justify-content: center;
    }

}

@media (max-width:410px) {
    .social-media-marketing .platform {
        width: 69vw;
    }
}